absl-py==2.1.0
aiofiles==24.1.0
aiogram==3.17.0
aiohappyeyeballs
aiohttp 
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.8.0
appnope 
archspec 
arrow==1.3.0
asttokens
astunparse==1.6.3
async-timeout==4.0.3
asyncpg==0.30.0
attrs==24.1.0
backcall==0.2.0
bcrypt==4.2.1
beautifulsoup4==4.12.3
bitsandbytes==0.42.0
bleach==6.2.0
blinker==1.9.0
boltons 
Bottleneck 
Brotli 
bs4==0.0.2
build==1.2.2.post1
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cobble 
codecarbon==2.8.2
coloredlogs==15.0.1
comm 
cryptography
databases==0.9.0
dataclasses-json==0.6.7
datasets 
debugpy 
decorator
defusedxml==0.7.1
Deprecated
dill 
diskcache==5.6.3
distlib==0.3.9
distro 
dnspython==2.7.0
docker-pycreds==0.4.0
docopt==0.6.2
email_validator==2.2.0
evaluate==0.4.3
exceptiongroup 
executing 
faiss-cpu==1.7.2
fastapi==0.115.6
fastjsonschema==2.21.1
fief-client==0.20.0
filelock==3.16.1
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.12.23
frozendict 
frozenlist 
fsspec 
gast==0.6.0
gigachat==0.1.37
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
greenlet==3.1.1
grpcio==1.69.0
grpcio-reflection==1.69.0
grpcio-tools==1.69.0
h11==0.14.0
h5py==3.12.1
httpcore==1.0.7
httpx==0.27.2
httpx-sse==0.4.0
huggingface_hub 
humanfriendly==10.0
idna==3.4
importlib_metadata 
iniconfig==2.0.0
ipykernel 
ipython==8.12.3
itsdangerous==2.2.0
jedi 
Jinja2==3.1.2
jmespath==1.0.1
joblib 
jsonpatch 
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client 
jupyter_core 
jupyterlab_pygments==0.3.0
jwcrypto==1.5.6
keras==3.7.0
langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.29
langchain-gigachat==0.3.2
langchain-text-splitters==0.3.5
langsmith==0.2.10
libclang==18.1.1
llama_cpp_python==0.3.5
lxml==5.3.0
magic-filter==1.0.12
Mako==1.3.8
mammoth 
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe 
marshmallow==3.25.0
matplotlib-inline 
mdurl==0.1.2
mistune==3.1.0
ml-dtypes==0.4.1
mpmath 
multidict 
multiprocess 
mypy-extensions==1.0.0
namex==0.0.8
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
nest_asyncio 
numexpr 
numpy 
nvidia-ml-py==12.560.30
onnx==1.17.0
opentelemetry-api 
opt_einsum==3.4.0
optimum==1.23.3
optree==0.13.1
orjson==3.10.14
packaging 
paho-mqtt==1.6.1
pandas 
pandocfilters==1.5.1
parso 
passlib==1.7.4
pbr==6.1.0
pexpect 
pickleshare 
pillow==10.2.0
pip-tools==7.4.1
pipreqs==0.5.0
platformdirs
playwright==1.49.1
pluggy 
prometheus_client==0.21.1
prompt_toolkit 
propcache 
protobuf==5.29.2
psutil 
psycopg2-binary==2.9.7
ptyprocess 
pure_eval 
py-cpuinfo==9.0.0
pyarrow 
pycosat 
pycparser
pydantic==2.10.4
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyee==12.0.0
Pygments 
PyJWT==2.10.1
pykwalify==1.8.0
pynvml==12.0.0
PyPDF2 
pyproject_hooks==1.2.0
PySocks
pytest==7.2.2
python-box==6.1.0
python-dateutil 
python-docx==1.1.2
python-dotenv==1.0.1
PythonTurtle==0.3.2
pytz 
PyYAML==6.0.1
pyzmq
questionary==2.1.0
RapidFuzz==3.11.0
redis==5.2.1
referencing==0.36.1
regex
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
ruamel.yaml 
ruamel.yaml.clib 
safetensors 
scikit-learn==1.6.1
scipy 
sentence-transformers 
sentry-sdk==2.20.0
setproctitle==1.3.4
setuptools==75.1.0
shellingham==1.5.4
six 
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
SQLAlchemy-Utils==0.41.2
stack_data 
starlette==0.41.3
stevedore==4.1.1
sympy==1.13.1
tavern==2.11.0
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
termcolor==2.3.0
threadpoolctl 
tinycss2==1.4.0
tokenizers==0.20.3
tornado 
tqdm 
traitlets 
transformers==4.46.3
transliterate==1.10.2
typer==0.15.1
types-python-dateutil==2.9.0.20241206
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata 
urllib3==2.0.7
uvicorn==0.34.0
uWSGI==2.0.28
virtualenv==20.29.1
wandb==0.19.3
wcwidth
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.44.0
wrapt==1.17.0
xxhash 
yarg==0.1.9
yarl 
yaspin==3.1.0
zipp 
zstandard
